// flex helpers

.flex {
    display: flex;

    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}
.video-ratio {
    @include aspect-ratio(16, 9);
}
.portrait-ratio {
    @include aspect-ratio(9, 16);
}

.clean-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.clean-link {
    text-decoration: none;
    &:active {
        color: inherit;
    }
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}
