// Colors
$clr1: #F76E11;
// $clr2: #4f3a65;
$clr3: #bce0ff;
$clr4: #fcdcc0;
$clr5: #f8cda8;
$clr6: #fff;
$clr7: #222;
$clr8: rgb(129, 129, 129);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
